# Maven build folders
target/
# ... but not code generation targets
!tool/src/org/antlr/v4/codegen/target/

# Node.js (npm and typings) cached dependencies
node_modules/
typings/

# Ant build folders
build/
dist/
lib/